{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot_shim","bin/hermes_mail"},
          {copy,"./boot_shim.bat","bin/hermes_mail.bat"},
          {copy,"./boot","releases/0.0.1/hermes_mail.sh"},
          {copy,"./boot.bat","releases/0.0.1/hermes_mail.bat"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{hermes_mail,"0.0.1"},[{hermes_mail,"0.0.1"},elixir,iex,sasl]}.

{lib_dirs,["/Users/syntaxfish/dev/project/private/hermes/apps/hermes_mail/_build/dev",
           "/Users/syntaxfish/dev/project/private/hermes/deps",
           "/usr/local/Cellar/elixir/1.2.0/bin/../lib/eex/ebin",
           "/usr/local/Cellar/elixir/1.2.0/bin/../lib/elixir/ebin",
           "/usr/local/Cellar/elixir/1.2.0/bin/../lib/ex_unit/ebin",
           "/usr/local/Cellar/elixir/1.2.0/bin/../lib/iex/ebin",
           "/usr/local/Cellar/elixir/1.2.0/bin/../lib/logger/ebin",
           "/usr/local/Cellar/elixir/1.2.0/bin/../lib/mix/ebin"]}.

